*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

AccelerometerApp/AccelerometerApp/.idea/copyright/profiles_settings.xml
AccelerometerApp/.idea/misc.xml
